---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Processos seletivos | Nawat Games">
	<main>
		<div class="mx-auto max-w-5xl pt-16">
			<div class="py-20 text-center">
				<span class="text-sm">FAÇA PARTE DO TIME</span>
				<h1 class="text-3xl font-semibold">Confira nossos processos seletivos!</h1>
			</div>
			<div class="grid grid-cols-2 py-24"></div>
		</div>
		<Footer />
	</main>
</Layout>
