---
---

<nav class="border-b-2 border-neutral-300">
 <div class="h-16 flex justify-between max-w-6xl bg-red-500 mx-auto">
    <span>Logo</span>
    <span>Links</span>
    <button>Botao</button>
 </div>
</nav>
<div class="bg-neutral-300 py-32">
    <div class="max-5-xl mx-auto">
        <div class="justify-center space-x-24">
            <div>
                <h1 class="text-5xl">Textao</h1>
                <p>Textinho</p>
            </div>
            <div class="h-52 w-96 bg-red-500"></div>
            <div class="size-10 bg-blue-300"></div>
        </div>
    </div>
</div>
<div class="bg-neutral-300 py-32">
    <div class="max-5-xl mx-auto">
        <div class="flex justify-center">
            <div>
                <h1 class="text-5xl">Textao</h1>
                <p>Textinho</p>
            </div>
            <div class="h-52 w-96 bg-red-500"></div>
        </div>
    </div>
</div>
<div class="bg-neutral-300 py-32">
    <div class="max-5-xl mx-auto">
        <div class="flex justify-center">
            <div>
                <h1 class="text-5xl">Textao</h1>
                <p>Textinho</p>
            </div>
            <div class="h-52 w-96 bg-red-500"></div>
        </div>
    </div>
</div>