---
import Footer from './Footer.astro';
---

<div class="from-primary to-accent bg-gradient-to-b">
	<div class="py-32 text-center">
		<h1 class="text-5xl font-bold">Torne-se membro<br />da Nawat Games</h1>
		<p class="mx-auto mt-4 max-w-lg">
			Procuramos pessoas talentosas e engajadas com o universo dos jogos — venha fazer parte dessa
			comunidade apaixonada!
		</p>
		<button class="bg-secondary text-text mt-10 px-7 py-3.5">Torne-se um Membro</button>
	</div>
	<Footer />
</div>
